body{
background-image: url("BI.jpg");}
	.contact{
		padding: 4%;
		height: 400px;
	}
	.col-md-3{
		background: #ff9b00;
		padding: 3%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}

	.background-color {
			color: gray;/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  color: white;
  position: relative;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */

			opacity: 0.4;
		}

	.topnav {
			overflow: hidden;
			background-color: 	#180F4D;
			text-align: center;
			padding: 10px;
			border-bottom: 0.1px solid #C8C2DD;
			width:100%;
border-right: 1px solid #C8C2DD;
height: 60px;
		}

		.topnav a {
			float: center;
			color: #FFDEAD;
			text-align: center;
			padding: 20px 18px;
			text-decoration: none;
			font-size: 20px;
			border-left: 1px solid #C8C2DD;
             

		}
.topnav a:hover{
	 color: #555;
}
		.topnav a.active {
			background-color: grey;
			color: white;
		}


