h2{
	 font-family: "Times New Roman", Times, serif;


}

.about{
	text-align: center;
	 font-family: "Times New Roman", Times, serif;
	 font-size: 40px;
	font-weight: bold;
}

.round{
  border-radius: 50%;
 margin-left: 540px;
}

h1
{
 font-family: "Times New Roman", Times, serif;

}

.heads{
	 font-family: "Times New Roman", Times, serif;
	  margin-left: 540px;
}

.heads1{
	 font-family: "Times New Roman", Times, serif;
	  margin-left: 570px;
}
pre{
 	background-color: white;
 
  display: block;
  
  white-space: pre;
  border: none;

}

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  color: white;
  position: relative;

}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */

.logo{
   margin-right:400px;
}

		body {
			
			font-family: Arial, Helvetica, sans-serif;
		}

		.background-color {
			color: gray;
			opacity: 0.4;
		}

		.topnav {
			overflow: hidden;
			background-color: 	#000080;
			text-align: center;
			padding: 10px;
		}

		.topnav a {
			float: center;
			color: #FFDEAD;
			text-align: center;
			padding: 20px 18px;
			text-decoration: none;
			font-size: 20px;
		}

		.topnav a.active {
			background-color: grey;
			color: white;
		}
