body{
background-image: url("BI.jpg");}
.imgs{
	
	padding-left: 150px;
	padding-top: 20px;
	 opacity: 0.8;
}

img:hover {
  opacity: 1.0;
}
.stitle{
	color: white;
	
	 padding-left: 140px;
	 font-size: 60px;
}
h2
{
	color: white;
	
	 padding-left: 330px;
	 font-size: 36px;
}
.h5style
{
	color: white;
	
	 padding-left: 50px;
}

h4{
 padding-left: 320px;
color: white;
font-family: "Times New Roman", Times, serif;
}


.button {
  
  border: 1px solid #ff9b00;
  color: white;
  padding: 5px 10px;
 text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  background-color: #ff9b00;
  margin: 4px 360px;
  cursor: pointer;
}
.pdes{
	padding-left: 160px;
color: white;
font-family: "Times New Roman", Times, serif;
}
p
{
	color: white;
}
.background-color {
			color: gray;
			opacity: 0.4;
		}

		




	
		.topnav {
			overflow: hidden;
			background-color: 	#180F4D;
			text-align: center;
			padding: 10px;
			border-bottom: 0.1px solid #C8C2DD;
			width:100%;
border-right: 1px solid #C8C2DD;
height: 60px;
		}

		.topnav a {
			float: center;
			color: #FFDEAD;
			text-align: center;
			padding: 20px 18px;
			text-decoration: none;
			font-size: 20px;
			border-left: 1px solid #C8C2DD;
             

		}
.topnav a:hover{
	 color: #555;
}
		.topnav a.active {
			background-color: grey;
			color: white;
		}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
  position: relative;
 
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: white;   
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background:	#696969  ;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: grey ;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: white;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: white;}


/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  color: white;
  position: relative;

}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */



.logo{
	margin-right: 450px;
}

body {
			
			font-family: Arial, Helvetica, sans-serif;
		}

